<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="sea.TestImportCargo"/>
      <class name="land.TestImportCargo"/>
      <class name="air.TestImportCargo"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
