<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="TestAirImportCargo">
		<classes>
			<class name="air.TestImportCargo" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TestSeaImportCargo">
		<classes>
			<class name="sea.TestImportCargo" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TestLandImportCargo">
		<classes>
			<class name="land.TestImportCargo" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->